.gitignore
.idea
.vscode
certbot
docker-entrypoint*
media
ml
node_modules
/static
ssl
venv
__pycache__
.env*
.gitignore
bundle.js
deploy.sh
playground.py
settings.json
vocab.sql
vocbuilder/my.cnf
vocbuilder/my_local.cnf
