<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'vocab/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vocab/css/dropzone.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'vocab/css/vocab.css' %}">
    <link rel="icon" href="{% static '/vocab/images/favicon.svg' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid d-flex justify-content-center">
          <ul class="navbar-nav">
              {% if not is_main %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'vocab:index' %}">Main page</a>
              </li>
              {% endif %}
              <li class="nav-item">
                  <a class="nav-link" href="#">How it works</a>
              </li>
          </ul>
          {% if not is_main %}
          <form id="search" class="d-flex">
              <input id="search_field" class="form-control me-2" type="search" placeholder="Search words">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
          {% endif %}
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{% static '/vocab/js/bootstrap.bundle.min.js' %}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
</body>
</html>