<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'vocab/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vocab/css/dropzone.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'vocab/css/vocab.css' %}">
    <link rel="icon" href="{% static '/vocab/images/favicon.svg' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid d-flex justify-content-center">
          <ul class="navbar-nav">
              {% if not is_main %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'vocab:index' %}">Main page</a>
              </li>
              {% endif %}
              <li class="nav-item">
                  <a class="nav-link" href="#">How it works</a>
              </li>
          </ul>
          {% if not is_main %}
          <form id="search">
              <div class="input_wrapper d-flex">
                  <input id="search_field" class="form-control me-2 flex-d" type="search" placeholder="Search words">
                  <button class="btn btn-outline-secondary" type="submit">Search</button>
                  <button class="btn btn-outline-danger border-0 ms-1" id="search_clear">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                  </button>
              </div>
          </form>
          {% endif %}
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{% static '/vocab/js/bootstrap.bundle.min.js' %}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
</body>
</html>