{% extends 'vocab/base.html' %}
{% load static %}

{% block title %}
Kindle Vocab
{% endblock %}

{% block content %}


<div class="container-fluid text-center d-flex">
  <div class="row container-fluid pt-5">
    <div class="col_main_first">
    </div>

    <div class="pt-5 col_main_second d-flex flex-column align-items-center">
        <h2 id="main_header" class="text-center">Drag your vocab.db here:</h2>
        <form action="{% url 'vocab:index' %}" class="dropzone shadow w-50" id="dropzone-main" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        </form>
        <div id="example_image_container" class="d-flex flex-column justify-content-center align-items-center">
            <img id="example_image" src="{% static 'vocab/images/sqlite.svg' %}" class="img-fluid">
            <div>
                <p class="mb-0 p-0">Want to see how it looks?</p>
                <p class="p-0">Click on this
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                    </svg> example database.</p>
            </div>
            <p class="fst-italic w-50">We are currently working only with English words.
            If you are interested in other languages, please send your suggestions <a href="{% url 'vocab:contact' %}">here</a>.</p>

        </div>
    </div>

    <div class="col_main_third d-flex flex-column align-items-center">
        <p class="fw-bold">The most searched-for words</p>
        <ul class="list-group list-group-flush w-100">
        {% for name, count in ranking %}
            <li class="list-group-item d-flex"><span>{{ name }}</span><span class="ms-auto text-secondary">{{ count }}</span></li>
        {% endfor %}
        </ul>
    </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'vocab/js/dropzone.min.js' %}"></script>
<script src="{% static 'vocab/js/js.cookie.min.js' %}"></script>
<script src="{% static 'vocab/js/main_page.js' %}"></script>
<script src="{% static 'vocab/js/dropbox-main.js' %}"></script>

{% endblock %}