#example_image_container {
    padding-top: 2em;
    min-height: 100px;
    min-width: 100px;
}

#example_image:hover {
    cursor: pointer;
}

.dropzone {
    border-radius: 10px;
}

.word_card_container {
    margin: 2em;
}

.word_card {
    background-color: #FAF9F6;
    margin: 1em;
    padding: 1em;
    width: 48%;
}

.word_card_button {
    margin: 0.5em;
}

.word_collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease-out;
}

.word_collapse.open {
    max-height: 100%;
    transition: max-height 500ms ease-out;
}

.panel_button {
    margin-bottom: 0.5em;
    min-width: 100%;
}

.check_label {
    width: 100%;
    margin-left: 10px;
}

#book_clear {
  border: none;
  background-color: white;
  color: red;
}

#book_select {
  border: none;
  background-color: white;
  color: green;
}

.form-check {
    width: 100%
}

#book_list {
    min-width: 50%;
    border-radius: 0;
    margin-bottom: 0;
}

#book_container {
    transition: transform 0.4s ease-in-out;
}

.slide-in {
  transform: translateY(0%);
}

.button_icon {
    padding-left: 8px;
    padding-right: 1px;
}

.accordion-body {
    padding-top: 1px;
}

.accordion {
    min-width: 100%;
}

.nav_column {
    overflow-y: scroll;
}

.nav_container:first-child {
    margin-top: 3em;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  left: 50px;
  display: none;
}


#search {
    margin-left: 50px;
}

.hide {
    display: none !important;
}
.spinner-border {

}

#no_results {
    margin-top: 100px;
}

#main_header {
    margin-top: 50px;
    margin-bottom: 20px;
}

#tools {
    padding-top: 6em;
}

#tools label {
    display: inline;
}

.modal-content .btn-close {
    margin: 0;
}

.progress_counter:last-child {
    margin-bottom: 50px;
}

#book_container .form-check-label {
    cursor: pointer;
}

.anchor {
  display: block;
  height: 110px;
  margin-top: -115px;
  visibility: hidden;
}

[data-bs-toggle="popover"] {
    cursor: pointer;
}

#example_image {
    transition: all 300ms 0ms ease-in-out;
}

#example_image:hover {
    transform: scale(1.25);
}

#example_image.big {
    transform: scale(1.25);
}

.word_card .btn-outline-danger:hover {
    background-color: transparent;
    transition: all 200ms 0ms ease-in-out;
    transform: scale(1.1)
}

#quiz_modal .card {
    width: 33%;
}

.bi-eye {
    transition: all 150ms 0ms ease-in-out;
}

.bi-eye:hover {
    transform: scale(1.25);
}

.mid_col {
    width: 72%
}

.right_col {
    width: 10%
}

.card-text input {
    transition: background 0.5s ease-in-out;
}

#dropzone-main {

}

.col_main_first {
    width: 20%
}

.col_main_second {
    width: 60%
}

.col_main_third {
    width: 20%;
    padding-top: 50px;
}

@media (width <= 1000px) {
    #quiz_modal .card {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .word_card {
        width: 99%;
    }
    .mid_col {
        width: 65%
    }
    .right_col {
        width: 16%
    }
    .hide_on_shrink {
        display: none;
    }
    nav {
        font-size: calc(1.05rem + .9vw)
    }
    nav ul {
        width: 55%;
    }
    #search_field {
        font-size: 1.2rem;
    }
    #search {
        margin-left: 10px;
    }
    #dropzone-main {
        width: 300px;
        height: 300px;
    }
    #example_image {
       width: 100px;
        height: 100px;
    }
    .col_main_third {
        width: 100%;
        padding-left: 25%;
        padding-right: 25%;
        font-size: calc(1.0rem + .9vw)
    }
    #example_image_container p, .dz-button {
        font-size: 1.8rem;
    }
    #search {
        width: 300px;
    }
    .dz-button {
        font-size: 1.8rem !important;
        font-weight: 800 !important;
    }
    #export_button {
        margin-right: 2px !important;
    }
    #btn-back-to-top {
        bottom: 60px;
        left: 20px;
    }
    #tools {
        height: 92vh !important;
    }
    .nav-item {
        margin-left: 2px;
        margin-right: 2px;
    }
}

.about_image {
    width: 65%;
    margin-bottom: 2em;
}


#footer {
  width: 100%;
  min-height: 80px;
}
