#example_image_container {
    margin-top: 5em;
}

#example_image {
    width: 60px;
    height: 80px;
}

.dropzone {
    border-radius: 10px;
}

.word_card_container {
    margin: 2em;
}

.word_card {
    background-color: #FAF9F6;
    margin: 1em;
    padding: 1em;
}

.word_card_button {
    margin: 0.5em;
}

.word_collapse {
  display: none;
}

.panel_button {
    margin-bottom: 0.5em;
    min-width: 100%;
}

.check_label {
    width: 100%;
    margin-left: 10px;
}

#book_clear {
  border: none;
  background-color: white;
  color: red;
}

#book_select {
  border: none;
  background-color: white;
  color: green;
}

.form-check {
    width: 100%
}

#book_list {
    min-width: 50%;
    border-radius: 0;
    margin-bottom: 0;
}

#book_container {
    transition: transform 0.4s ease-in-out;
}

.slide-in {
  transform: translateY(0%);
}

.button_icon {
    padding-left: 8px;
    padding-right: 1px;
}

.accordion-body {
    padding-top: 1px;
}

.accordion {
    min-width: 100%;
}

.nav_column {
    overflow-y: scroll;
}

.nav_container:first-child {
    margin-top: 3em;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  left: 50px;
  display: none;
}


#search {
    margin-left: 50px;
}

.hide {
    display: none !important;
}
.spinner-border {

}

#no_results {
    margin-top: 100px;
    display: none;
}

#main_header {
    margin-top: 50px;
    margin-bottom: 20px;
}

#tools label {
    display: inline;
}

#export_button {
    margin-bottom: 10px;
}

.modal-content .btn-close {
    margin: 0;
}

.progress_counter:last-child {
    margin-bottom: 100px;
}